RESTIC_PASSWORD_FILE={{ restic_service_account_home }}/{{ systemd_instance_name }}/{{ restic_key_id }}
RESTIC_KEY_HINT={{ restic_key_id }}
RESTIC_REPOSITORY=sftp:{{ ssh_username }}@{{ ssh_server_fqdn }}:{{restic_repo_path }}
HOME={{ restic_service_account_home }}
